@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/Roboto-Regular.svg#ProximaNova-BoldIt') format('svg');
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin.eot');
	src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Thin.woff') format('woff'),
		url('../fonts/Roboto-Thin.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('../fonts/Roboto-ThinItalic.eot');
	src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-ThinItalic.woff') format('woff'),
		url('../fonts/Roboto-ThinItalic.ttf') format('truetype'),
	}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype'),
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto-Light.ttf') format('truetype'),

}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto-Medium.ttf') format('truetype'),

}

@font-face {
	font-family: 'Roboto-MediumItalic';
	src: url('../fonts/Roboto-MediumItalic.eot');
	src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-MediumItalic.woff') format('woff'),
		url('../fonts/Roboto-MediumItalic.ttf') format('truetype'),

}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype'),

}

@font-face {
	font-family: 'Roboto-BoldItalic';
	src: url('../fonts/Roboto-BoldItalic.eot');
	src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-BoldItalic.woff') format('woff'),
		url('../fonts/Roboto-BoldItalic.ttf') format('truetype'),

}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.eot');
	src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Black.woff') format('woff'),
		url('../fonts/Roboto-Black.ttf') format('truetype'),

}


@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('../fonts/RobotoCondensed-Regular.eot');
	src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
		url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),

}

@font-face {
	font-family: 'RobotoCondensed-Italic';
	src: url('../fonts/RobotoCondensed-Italic.eot');
	src: url('../fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Italic.woff') format('woff'),
		url('../fonts/RobotoCondensed-Italic.ttf') format('truetype'),

}

@font-face {
	font-family: 'RobotoCondensed-Light';
	src: url('../fonts/RobotoCondensed-Light.eot');
	src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Light.woff') format('woff'),
		url('../fonts/RobotoCondensed-Light.ttf') format('truetype'),

}


@font-face {
	font-family: 'RobotoCondensed-LightItalic';
	src: url('../fonts/RobotoCondensed-LightItalic.eot');
	src: url('../fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-LightItalic.woff') format('woff'),
		url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype'),

}


@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('../fonts/RobotoCondensed-Bold.eot');
	src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
		url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),

}


@font-face {
	font-family: 'RobotoCondensed-BoldItalic';
	src: url('../fonts/RobotoCondensed-BoldItalic.eot');
	src: url('../fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff'),
		url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype'),

}


@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-BoldIt.eot');
	src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
		url('../fonts/ProximaNova-BoldIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/ProximaNova-Extrabld.eot');
	src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
		url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
		url('../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-LightIt.eot');
	src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-LightIt.woff') format('woff'),
		url('../fonts/ProximaNova-LightIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('../fonts/ProximaNovaCond-Regular.eot');
	src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
		url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/ProximaNovaCond-Semibold.eot');
	src: url('../fonts/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-Semibold.woff') format('woff'),
		url('../fonts/ProximaNovaCond-Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNovaCond-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-RegularIt.eot');
	src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
		url('../fonts/ProximaNova-RegularIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url('../fonts/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova-Black.ttf') format('truetype'),
		url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-RegularIt.eot');
	src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
		url('../fonts/ProximaNova-RegularIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-SemiboldIt.eot');
	src: url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
		url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/ProximaNovaCond-SemiboldIt.eot');
	src: url('../fonts/ProximaNovaCond-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-SemiboldIt.woff') format('woff'),
		url('../fonts/ProximaNovaCond-SemiboldIt.ttf') format('truetype'),
		url('../fonts/ProximaNovaCond-SemiboldIt.svg#ProximaNovaCond-SemiboldIt') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/ProximaNovaCond-Light.eot');
	src: url('../fonts/ProximaNovaCond-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-Light.woff') format('woff'),
		url('../fonts/ProximaNovaCond-Light.ttf') format('truetype'),
		url('../fonts/ProximaNovaCond-Light.svg#ProximaNovaCond-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url('../fonts/ProximaNovaCond-LightIt.eot');
	src: url('../fonts/ProximaNovaCond-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-LightIt.woff') format('woff'),
		url('../fonts/ProximaNovaCond-LightIt.ttf') format('truetype'),
		url('../fonts/ProximaNovaCond-LightIt.svg#ProximaNovaCond-LightIt') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('../fonts/ProximaNovaCond-RegularIt.eot');
	src: url('../fonts/ProximaNovaCond-RegularIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-RegularIt.woff') format('woff'),
		url('../fonts/ProximaNovaCond-RegularIt.ttf') format('truetype'),
		url('../fonts/ProximaNovaCond-RegularIt.svg#ProximaNovaCond-RegularIt') format('svg');
	font-weight: normal;
	font-style: italic;
}
