.test {
  border: 1px solid red;
}


body {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-size: 16px;

}

h1 {
  font-family: 'Roboto-Thin', sans-serif;
}

h2 {
  font-family: 'RobotoCondensed-Bold', sans-serif;
}

li.car_title h2 {
  color: #ffffff;
  font-size: 3.8rem;
  line-height: 3.6rem;
}

li.price_from {
  font-family: 'Roboto-Light', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.3rem;
}

li.car_price {
  font-family: 'RobotoCondensed-Bold', sans-serif;
  color: #ffffff;
  font-size: 3.8rem;
  line-height: 3rem;
}

.facetwp-date.hide {
  display: none;
}

input.facetwp-date {
  background-image:url('../images/calendar_01.svg');
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: 50% 0%;
  background-color: transparent;
  border-width: 0px;
  height: 50px;
  width: 50px;
  color: transparent;
}

.wc-bookings-booking-form fieldset {
    display: none;
}

.wc-bookings-booking-form {
     border: 0px solid #ddd;
}

/* Category Ads */

#ads {
    margin: 0;

}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }



#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;

    }


#ads .card-image-overlay span {
            display: inline-block;
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;

        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

#ads .alert-success {
        color: #000;
        background-color: transparent;
        border-color: #c3e6cb;
    }

    .card-image {opacity: 1 !important;}

    .woocommerce-page div.product div.images {

        width: 100%;
    }

    .woocommerce-page div.product div.summary {
    width: 100%;
}

.wc-bookings-booking-form .wc-bookings-booking-cost {
  background: transparent;
  border-top: 0px solid #ddd;
  position: relative;
  margin: 0;
  padding: 0;
}

.woocommerce div.product div.images {
    margin-bottom: 0.5em;
}

.woocommerce div.product form.cart .button {
  opacity: 0;
}

.woocommerce div.product form.cart {
    margin-bottom: 0em;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    padding: 0.25rem;
}

.row.carousel-indicators {
  background: #fff;

}
.row.carousel {
  background:
  linear-gradient(to top, #fff 50%, #000 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f85032', endColorstr='#ffffff',GradientType=0 );
  }

  .datepicker-inline {
    width: 100%;
}
.datepicker table {
    width: 100%;
}


  .car-option-doors {
    background: url(../images/attributes_doors.svg) 0px 0px no-repeat !important;
  }

  .car-option-passengers {
    background: url(../images/attributes_passengers.svg) 0px 0px no-repeat !important;
  }

  .car-option-luggage {
    background: url(../images/attributes_luggage.svg) 0px 0px no-repeat !important;
  }

  .car-option-transmission {
    background: url(../images/attributes_transmission.svg) 0px 0px no-repeat !important;
  }

  .car-option-air-conditioning {
    background: url(../images/attributes_aircondition.svg) 0px 0px no-repeat !important;
  }

  .row.description {
    background-color: $black;
  }
  .row.description h1 {
    color: $white;
  }
  .calendar {
    background-color: $black;
  }


  .woocommerce .blockUI.blockOverlay::before {
      height: 1em;
      width: 1em;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -.5em;
      margin-top: -.5em;
      content: '';
      -webkit-animation: spin 1s ease-in-out infinite;
      animation: spin 1s ease-in-out infinite;
      background: url(../images/icons/loader.svg) center center;
      background-size: cover;
      line-height: 1;
      text-align: center;
      font-size: 2em;
      color: rgba(0,0,0,.75);
  }
