// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

 // Colors
$primary:     #ff0000;
 $black:      #000;
 $white:      #fff;

$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 1.5 !default;
