#carscarousel .list-inline {
    white-space:nowrap;
    //overflow-x:auto;
}

#carscarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#carscarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#carscarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}

.carousel-caption {
  position: absolute;
  right: ((100% - $carousel-caption-width) / 2);
  top: 20px;
  left: ((100% - $carousel-caption-width) / 2);
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: left;
}

.carousel h1.product_title {
  font-size: 1.5em;
margin-bottom: .5em;
}



// Map
.facetwp-map-filtering {
  display: none;
}

.gmnoprint {
  display: none;
}


.carousel h3 {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 1rem;
      color: #fff;
      padding: 0.6rem 0 1rem 3rem;
      margin: 0;
}

.attribute {
  font-family: 'Roboto-Medium', sans-serif;
  color: $primary;
  padding: 0 0 0 0.25rem;
}

.btn-lg {
  font-family: 'Roboto-Medium', sans-serif;
}
